# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache
npm-debug.log

# PhpStorm
.idea

# Configuration
config.js

scripts/emojis.json

# Process
process.json

# Local data
typesense_data
mysql_data