@import "tailwindcss" source(none);

@source "../views";
@source "../js";

@theme {
    --breakpoint-xs: 450px;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

[x-cloak] { display: none !important; }
